toolbarHeight = 40px
itemPaletteWidth = 98px
tinyMargin = 4px

.item, .tool, .itemPalette, .swatch, input, button, textarea, select
  pointer-events auto

.editor
  height 100%
  width 100%

  pointer-events none

.actions
  background-color backgroundColor
  position absolute
  top 0
  left itemPaletteWidth + tinyMargin
  height 32px

.colorChooser
  position absolute
  right 0
  top 0
  width 36px
  max-height 100%
  overflow-x none

.itemPalette
  background-color backgroundColor
  position absolute
  left 0
  top 0

  max-height 100%
  overflow-x hidden
  width itemPaletteWidth
  z-index 1

.itemContainer
  border-radius 4px
  background-color white
  display inline-block
  margin 4px
  padding 4px

.instanceText, .instanceLink
  position absolute
  bottom toolbarHeight
  left 0
  right 0
  width roomWidth
  margin auto

  textarea
    display block
    width 100%

.toolbar
  background-color backgroundColor
  box-sizing border-box
  bottom 0
  left itemPaletteWidth + tinyMargin

  display inline-block

  height toolbarHeight

  padding 2px 4px
  position absolute

.tool, .swatch
  border 2px solid transparent
  border-radius 2px
  display inline-block

  height 32px
  width 32px

  &.active
    border-color blue

.trash
  background-image url("/images/dumper.png")
  background-size 100%
  position absolute
  bottom 0
  right 0

  width 100px
  height 100px
