.item, .tool, input, button, textarea
  pointer-events auto

.editor
  height 100%
  width 100%

  pointer-events none

.actions
  position absolute
  top 0
  left 98px

.itemPalette
  background-color backgroundColor
  position absolute
  left 0
  top 0

  overflow hidden
  width 98px
  z-index 1

.itemContainer
  border-radius 4px
  background-color white
  display inline-block
  margin 4px
  padding 4px

.instanceText
  position absolute
  bottom 0
  left 0
  right 0
  width roomWidth
  margin auto

  textarea
    display block
    width 100%

.toolbar
  background-color backgroundColor
  bottom 0
  left 0

  display inline-block

  height 40px

  padding 4px
  position absolute

.tool
  border 2px solid transparent
  display inline-block

  height 32px
  width 32px

  &.active
    border-color blue

.trash
  background-image url("/images/dumper.png")
  background-size 100%
  position absolute
  bottom 0
  right 0

  width 100px
  height 100px
